<div class="m-4 w-full overflow-auto text-center">
  <div class="inline-block w-[75%] rounded-lg px-8 pb-8 shadow bg-white dark:bg-slate-900">
    <div class="text-xl my-8 uppercase text-slate-900 dark:text-slate-100">about</div>
    <div>Welcome to rgbpalette.com, a palette generation tool by Jim Rogers.</div>
    <div class="mt-4">Visit <a class="text-blue-500" href="https://github.com/jimrogerz/rgbpalette">github.com/jimrogerz/rgbpalette</a> to view the source code or report issues.</div>
    <div class="flex mt-8">
      <a class="flex-1" mat-button href="https://www.linkedin.com/in/jim-rogers-8761317" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-blue?style=social&style=flat&logo=linkedin&labelColor=blue&label=Jim Rogers" />
      </a>
    </div>

      <div class="flex-1 mt-1 text-slate-500 text-xs pt-2">
        version {{version}} © {{ now | date: 'YYYY' }} Jim Rogers
      </div>
</div>
